
  /* ////////////////WIDTH///////////////*/

  @media (max-width: 1024px) {
    .txt-titulo{
      font-size: 1em;
    }
    .txt {
      font-size: 0.8em;
    }
  }

  @media (max-width: 600px) {

    .novo-livro {
      width: 85vw;
    }
  
    .txt-titulo {
      font-size: 17px;
    }

    .txt {
      font-size: 15px;
    }

  }
    
  @media (max-width: 880px) {
    .novo-livro {
      width: 70vw;
    }
  }

  @media (max-width: 600px) {

    .novo-livro {
      width: 85vw;
    }
  
    .txt-titulo {
      font-size: 17px;
    }

    .txt {
      font-size: 15px;
    }

  }


  @media (max-width: 480px) {
    .novo-livro {
      width: 80vw;
      height: 30vh;
    }

    .txt-titulo {
      font-size: 14px;
    }

    .txt {
      font-size: 12px;
    } 

    .txt-aguarde {
      font-size: 20px;
    }
  }

  
  @media (max-width: 425px) {
    .novo-livro {
      width: 85vw;
      height: 50vh;
      display: flex;
      flex-direction: column;
    }

    .img {
      margin-right: 0;
      
    }

    .txt-titulo {
      padding-top: 10px;
      font-size: 1em;
    }

    .txt {
      font-size: 0.70em;
    }

    .txt-aguarde {
      font-size: 17px;
    }

    .input-busca {
      width: 60vw;
    }

  }

  @media (max-width: 375px) {

    .txt-titulo {
      font-size: 12px;
    }

    .txt {
      font-size: 0.65em;
    }
  }

 



 
  
  