
  /* ////////////////WIDTH///////////////*/
  
  @media (max-width: 1282px) {
    .novo-livro {
      width: 43vw;
    }
  }
  
  @media (max-width: 1170px) {
    .novo-livro {
      width: 70vw;
      height: 35vh;
    }
  
    .txt-titulo {
      font-size: 25px;
    }

    .txt {
      font-size: 20px;
    }

    .img {
      height: 200px;
      width: 150px;
    }
  }

  @media (max-width: 877px) {
    .novo-livro {
      width: 85vw;
    }
  }

  @media (max-width: 665px) {
    .novo-livro {
      width: 85vw;
    }
  
    .txt-titulo {
      font-size: 18px;
    }

    .txt {
      font-size: 16px;
    }
  }

  @media (max-width: 530px) {
    .novo-livro {
      width: 90vw;
      height: 28vh;
    }
  
    .txt-titulo {
      font-size: 14px;
    }

    .txt {
      font-size: 12px;
    }

    .img {
      height: auto;
      width: 100px;
    }
    
  }

  @media (max-width: 450px) {
    .txt-aguarde {
      font-size: 20px;
    }

    .input-busca {
      width: 250px;
    }

    .btn-buscar {
      height: 30px;
    }
    
    .container > h1 {
      font-size: 30px;
    }
  }

  @media (max-width: 390px) {
    .txt-aguarde {
      font-size: 14px;
    }

    .input-busca {
      width: 200px;
    }

    .btn-buscar {
      height: 30px;
    }
    
    .container > h1 {
      font-size: 28px;
    }
  }
  
  