
.modelo-livro {
  margin: 10px;
  background-color: antiquewhite;
  display: none;
}


.container-livros-remove {
  width: 100%;
  min-height: 100vh;
}

.novo-livro {
  width: 45%;
  height: 30%;
  display: none;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 15px;
  margin: 10px;
  background-color: #EEEEEE;
  padding: 15px;
}

.img {
  object-fit: fill;
  max-width: 110px;
  max-height: 150px;
  border-radius: 10px;
  margin-right: 10px;
}

.img:hover {
  transform: translateX(20px);
  transition: 0.3s;
}

.container-sections {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex: 2;
  flex-direction: column;
}

.txt {
  margin-top: 5px;
  font-size: 1em;
  text-align: center;
}

.txt-titulo {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.txt-titulo:hover {
  transition: 0.4s;
  background-color: black;
  color: white;
}











