
/*////////////// Configs Iniciais ///////////*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arvo';
}

body{
  display: flex;
  flex-direction: column;
  background-color: #222831;
  color: white;
  margin-top: 30px;
}
