
/*////////////// Configs Iniciais ///////////*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arvo';
}

body{
  display: flex;
  flex-direction: column;
  background-color: #222831;
  color: white;
  margin-top: 30px;
}


@keyframes spin {
  to { transform: rotate(360deg);}
}

.loader {
  margin-top: 30px;
  display: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border-top: 8px solid rgba(255, 255, 255, 1);
  border-left: 8px solid rgba(255, 255, 255, 1);
  border-right: 8px solid rgba(255, 255, 255, 0);
  animation: spin 0.575s infinite linear;
}
