* {
  box-sizing: border-box;
}

.modelo-livro {
  margin: 10px;
  background-color: antiquewhite;
  display: none;
}

.novo-livro {
  color: black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
  box-shadow: 2px 2px 2px white;
  width: 47vw;
  max-height: 35vh;
  display: none;
  flex-wrap: wrap;
}

.section-livro {
  display: flex;
  width: 100%;
}

.section-livro img {
  margin-right: 30px;
  object-fit: cover;
  width: 150px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px black;
}

.section-livro img:hover {
  transform: translateX(20px);
  transition: 0.3s;
}

.imagem {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.container-sections {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini-section {
  display: flex;
  width: inherit;
  flex-direction: row;
  margin-bottom: 5px;
}

.txt-titulo {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 7px 30px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

label {
  margin-right: 3px;
  font-size: 17px;
}

.txt {
  font-size: 17px;
  text-align: justify;
}

.txt-titulo:hover {
  transition: 0.4s;
  background-color: black;
  color: white;
}

/* ////////////////HEIGHT///////////////*/
@media (max-height: 600px) {

  .novo-livro {
    width: 47vw;
    max-height: 20vh;
  }
}

@media (max-height: 630px) {

  .txt-titulo {
    margin-bottom: 0px;
  }

  .section-livro img {
    width: 120px;
    height: 170px;
  }

  .novo-livro {
    width: 47vw;
    max-height: 20vh;
  }
}

@media (max-height: 545px) {

  .txt-titulo {
    margin-bottom: 0px;
  }

  .section-livro img {
    width: 100px;
    height: 150px;
  }

  .novo-livro {
    width: 47vw;
    max-height: 20vh;
  }
}

/* ////////////////WIDTH///////////////*/
@media (max-width: 1282px) {
  .novo-livro {
    width: 46vw;
  }
}

@media (max-width: 1170px) {
  .novo-livro {
    width: 45vw;
  }

  label {
    font-size: 15px;
  }

  .txt {
    font-size: 15px;
  }

  .txt-titulo {
    font-weight: bold;
    font-size: 16px;
  }
}

@media (max-width: 883px) {
  .mini-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }

  .txt {
    font-size: 13px;
    text-align: center;
  }

  label {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 769px) {
  .novo-livro {
    width: 90vw;
  }

  .imagem {
    align-items: flex-start;
  }

  .container-sections {
    width: 100%;
    align-content: flex-end;
  }

  .section-livro {
    width: 100%;
  }

  .mini-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
  }

  label {
    font-size: 17px;
    text-align: center;
  }

  .txt {
    font-size: 17px;
    text-align: center;
  }

  .txt-titulo {
    font-weight: bold;
    font-size: 20px;
  }
}
