

/*////////////// Modelo Livro ///////////*/

.modelo-livro{
  margin: 10px;
  background-color: antiquewhite;
  display: none;
}

.novo-livro{
  color: black;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
  box-shadow: 2px 2px 2px white;
  width: 47vw;
  height: 35vh;
  display: none;
  flex-wrap: wrap;
}

.section-livro{
  display: flex;
  width: 100%;
}

.section-livro img{
  margin-right: 10px;
  object-fit: contain;
  width: 150px;
  height: 200px;
  border-radius: 15px;
}

.imagem{
  flex: 1;
  justify-content: center;
  align-items: center;
}

.container-sections{
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.mini-section{
  display: flex;
  margin-bottom: 5px;
}

label{
  margin-right: 5px;
}

.txt{
  font-size: 17px;
}

.txt-titulo {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* ////////////////HEIGHT///////////////*/

@media (max-height: 630px) {
  .section-livro img{
    width: 120px;
    height: 170px;
  }
}

@media (max-height: 545px) {
  .section-livro img{
    width: 100px;
    height: 150px;
  }
}












/* ////////////////WIDTH///////////////*/

@media (max-width: 1282px) {
  .novo-livro{
    width: 46vw;
    height: 35vh;
  }
}

@media (max-width: 1170px) {
  .novo-livro{
    width: 45vw;
    height: 35vh;
  }

  label{
    font-size: 15px;
  }

  .txt{
    font-size: 15px;
  }

  .txt-titulo {
    font-weight: bold;
    font-size: 16px;
  }
}

@media (max-width: 883px) {

  .mini-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }

  .txt{
    font-size: 13px;
  }

  label{
    font-size: 13px;
  }

}

@media (max-width: 769px) {
  .novo-livro{
    width: 90vw;
    height: 35vh;
  }

  .imagem{
    align-items: flex-start;
  }

  .container-sections{
    width: 100%;
    align-content: flex-end;
  }

  .section-livro{
    width: 100%;
  }

  .mini-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
  }

  label{
    font-size: 17px;
  }

  .txt{
    font-size: 17px;
  }

  .txt-titulo {
    font-weight: bold;
    font-size: 20px;
  }

}
